

/* put each block enxt each other */ 
.floatLeftIvyStyle { 
    margin:  20px;
    border: 10px solid black;
    padding: 8px;
    width: 40%;
    height: auto;
    float: initial;
    transform: translate(.5s);
}
/* hover to zoom WHEN MOVE THE MOSE ON IT */
.floatLeftIvyStyle:hover { 
    transform: scale(1.5); /* Zooms in 1.5 time (size of the pic) */
    cursor: pointer; /* show finger icon when hover the pic*/
}
